$green: #34AB48;
$light-green: #C6DFBC;
$black: #5F5F5F;

$gray-background: #F0F0F0;
$gray-background-border: #DBDBDB;


$font-color-light: #B3B3B3;
$font-color-bold: #777777;
$icon-default-color: #969696;


$button-primary-bg: #DADADA;
$button-primary-color: $font-color-bold;

$button-success-bg: $green;
$button-success-color: #FFFFFF;


