<div class="section">

  <div class="container">

    <div class="row">
      <div class="sector col-xs-12 col-md-2">
        <i class="icon fa fa-puzzle-piece fa-2x"></i>
        <div class="wrapper">
          <div class="title">Sector</div>
          <div class="value">Sports</div>
        </div>
      </div>

      <div class="sport-type col-xs-12 col-md-2">
        <i class="icon fa fa-futbol-o fa-2x"></i>
        <div class="wrapper">
          <div class="title">Sport Type</div>
          <div class="value">Bycicles</div>

        </div>
      </div>

      <div class="mode col-xs-12 col-md-3">
        <i class="icon fa fa-bicycle fa-2x"></i>
        <div class="wrapper">
          <div class="title">Mode</div>
          <div class="value">Mountain Cross</div>
        </div>
      </div>

      <div class="responsability col-xs-12 col-md-offset-3 col-md-2">
        <i class="icon fa fa-recycle fa-2x"></i>
        <div class="wrapper">
          <div class="title">Responsability</div>
          <div class="sub-title">Be Green!</div>
        </div>
      </div>
    </div>

  </div>

</div>
